extends layout

block content
  h1.page-header #{title}
  form(method='POST' action='/contacts/edit/' + contact._id)
    #form-group
      label Автор:
      input.form-control(name='author' type='text' value=contact.author)
    #form-group
      label Тіло:
      textarea.form-control(name='body' id='editor')= contact.body
    br
    input.btn.btn-primary(type='submit' value='Відправити')