extends layout

block content
  h1.page-header #{title}
  form(method='POST' action='/articles/edit/' + article._id)
    #form-group
      label Заголовок:
      input.form-control(name='title' type='text' value=article.title)
    #form-group
      label Автор:
      input.form-control(name='author' type='text' value=article.author)
    #form-group
      label Тіло:
      textarea.form-control(name='body' id='editor')= article.body
    br
    input.btn.btn-primary(type='submit' value='Відправити')
