extends layout

block content
  h1.page-header #{title}
  ul.list-group
    each researcher, i in researchers
      li.list-group-item
        a.newsLinks(href='/researchers/' + researcher._id)= researcher.title